In [ ]:
# Author: Khai Fahmi
# Description: Exploration on registered-vehicles-by-colour-at-30-june-2020.csv obtained from
#   data.gov.au as a part of the project for Smart City Hack 2021

In [29]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [36]:
colours_code = {
    'WHITE': '#ffffff',
    'BLACK': '#000000',
    'SILVER': 'C0C0C0',
    'GREEN': '#00ff00',
    'GREY': '#808080',
    'ORANGE': '#ffa500',
    'RED': '#ff0000',
    'BLUE': '#0000ff',
    'YELLOW': '#ffff00',
    'BROWN': '#964b00',
    'BEIGE': '#f5f5dc',
    'CREAM': '#fffdd0',
    'TAN': '#d2b48c',
    'GOLD': '#ffd700',
    'MAROON': '#800000',
    'PINK': '#ffc0cb',
    'PURPLE': '#800080',
    'FAWN': '#e5aa70',
    'BRONZE': '#cd7f32',
    'TURQUOISE': '#30d5c8',
    'ARTWORK': None,
    'KHAKI': '#f0e68c',
    'MAUVE': '#e0b0ff',
}

In [42]:
import os

df = pd.read_csv('registered-vehicles-by-colour-at-30-june-2020.csv', skiprows=1)
df.head()

   MAKE_DESC BODY_TYPE_DESC  YEAR_OF_MANUFACTURE COLOUR_DESC TOTAL
0  A J STOCK    DOG TRAILER                 2007       WHITE     2
1  A J STOCK    DOG TRAILER                 2009       WHITE     3
2  A J STOCK    DOG TRAILER                 2010       WHITE     1
3  A J STOCK    DOG TRAILER                 2011       WHITE     3
4  A J STOCK    DOG TRAILER                 2013       WHITE     1

In [43]:
# cleanup

df['TOTAL'] = df['TOTAL'].str.replace(',', '');
df = df.astype({'TOTAL': 'int64'})

# assumption that year of manufacture does not affect the design of the body type significantly

df['HEX'] = df['COLOUR_DESC'].map(lambda x: colours_code[x])
df = df.drop('YEAR_OF_MANUFACTURE', axis=1)
df = df.drop('COLOUR_DESC', axis=1)
df.dtypes

MAKE_DESC         object
BODY_TYPE_DESC    object
TOTAL              int64
HEX               object
dtype: object

In [44]:
groups = df.groupby(['MAKE_DESC', 'BODY_TYPE_DESC'])
agg = groups.sum('TOTAL')
agg

                                               TOTAL
MAKE_DESC          BODY_TYPE_DESC
A J STOCK          DOG TRAILER                    20
                   PIG TRAILER                    13
                   TRAILER                         7
A P ENGINEERING    ANIMAL TRANSPORTER TRAILER      2
                   TRAILER                         7
...                                              ...
ZHEJIANG QIANJIANG TRAILER                         6
ZMONKEY WELDING    TRAILER                         8
ZONGSHEN           SOLO                            4
                   TRAILER                         1
ZOOMLION           MOBILE CRANE VEHICLE            4

[4119 rows x 1 columns]